header{
    background-color: #159957;
    background-image: linear-gradient(to bottom, #159957, #01131d );
    height: 10rem;
    opacity: 0.9;
}
.project-name{
    width: 50rem;
    margin: 0 auto;
    padding-top: 1rem;
    color: #f8e9fc;
}
.list{
    width: 50rem;
    margin: 1.5rem auto;

}
.list li a{
    float: left;
    color: #ffd3ff;
    margin-left: 2.3rem;
    font-style:italic;
}
footer{
    width: 50rem;
    margin: 0 auto;
    margin-top: 40rem;
    color: #feadfc;
}
.text{
    width: 30rem;
    margin: 0 auto;
    margin-top: 5rem;
    font-size:40px;
    color: #a65fff;
}
.main{
    position: relative;
}
.aside-left{
    font-family: LiSu;
    width: 2rem;
    height: 30rem;
    position: absolute;
    left: 6rem;
    top: 15rem;
    font-size: 35px;
}
.aside-right{
    font-family: LiSu;
    width: 30rem;
    height: 40rem;
    position: absolute;
    right: 6rem;
    top: 15rem;
    background: linear-gradient(to bottom, #d3b3ed, #01131d);
    opacity: 0.5;
    border-radius: 5px;
}
.aside-right div{
    margin: 2rem 5rem;
}